/* fonts: font-family: 'Inter', sans-serif;

COLOR PALETTE

Teal #009189
Gray #ddd
black #252525
*/

/* global styles */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: #252525;
  /* background-image: url(../images/endless-constellation4.svg); */
  background: linear-gradient(60deg, white, #ddd);
}
h1 {
  font-weight: 200;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 0.7;
}

h2 {
  /* font-weight: bold; */
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 300ms;
}
a:hover {
  color: #009189;
}
li {
  list-style: none;
}

.content-wrap {
  max-width: 900px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}
.numbered-heading {
  display: flex;
  align-items: center;
  margin: 10px 0 40px;
  white-space: nowrap;
}
/* navigation */
.navigation {
  margin: 0 0 0;
  padding: 0 0 0;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 6px dimgray;
  font-weight: 400;
  font-size: 1.2rem;
  background-color: white;
  position: fixed;
  inset: 0 0 0 0;
  z-index: 2;
}

/* fullpage title spread */
header {
  min-height: 110vh;
  overflow: hidden;
}
.hero {
  max-width: 500px;
}
header h1 {
  padding-top: 45vh;
}
/* .i {
  position: relative;
  left: 0.0326em;
} */

.hero h1::before {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: clamp(6em, 57vw, 1025px);
  background-position: right;
  inset: -150px -0 0px 0;
  color: #252525;
  background-image: url(../images/circle-outline.svg);
  filter: drop-shadow(-4vw -3vw 0px #009189);
  z-index: -1;
  overflow: hidden;
}

/* about */

/* projects */

/* contact */

/* media queries */
@media (min-width: 35em) {
  .content-wrap {
    width: 90%;
  }
  .navigation {
    gap: 30px;
  }
}
